@model EventoModel

@{


    @if (Model.Logged == true)
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_LayoutDeslogado";
    }
    ViewData["Title"] = "Detalhes do evento";
}

<div class="container">
    <div class="form-group">
        <label for="Nome">Nome</label>
        <label>@Model.Nome</label>
    </div>
    <div class="form-group">
        <label for="Descricao">Descricao</label>
        <label>@Model.Descricao</label>
    </div>
    <div class="form-group">
        <label for="Local">Local</label>
        <label>@Model.Local</label>
    </div>
    <div class="form-group">
        <label for="Data">Data</label>
        <label>@Model.Data</label>
    </div>
    <div style="margin-top:20px">
        <img src="~/fotos/@Url.Content(Model.Foto)" width="250" style="border-radius:10px" />
    </div>
</div>
