@model LoginModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-sm close-alert" aria-label="Close">x</button>
        @TempData["MensagemErro"]
    </div>
}
@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-sm close-alert" aria-label="Close">x</button>
        @TempData["MensagemSucesso"]
    </div>
}
<form asp-controller="Login" asp-action="Entrar" method="post">
    <div class="container" style="padding-left:20%;padding-right:20%;padding-top:10%">
          <div class="form-group">
            <label for="login">Login</label>
            <input type="text" asp-for="Login" class="form-control" id="login" placeholder="Insira a login">
            @Html.ValidationMessageFor(x => x.Login)
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" asp-for="Senha" class="form-control" id="senha" placeholder="Insira a senha">
            @Html.ValidationMessageFor(x => x.Senha)
          </div>

          <p class="mb-4 text-sm-center mx-auto">
              Esqueceu sua senha?
              <a asp-action="RedefinirSenha" asp-controller="Login" class="text-primary text-gradient font-weight-bold">Redefinir minha senha</a>
          </p>

          <div style="margin-top:20px">
                <button type="submit" class="btn btn-primary">Entrar</button>
                <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" role="button">Voltar</a>
          </div>
    </div>
</form>
