@model UsuarioModel

@{
    @if (Model != null)
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_LayoutDeslogado";
    }
    ViewData["Title"] = "Página Inicial";
}

<div class="container-fluid">
    @await Component.InvokeAsync("ProximosEventos")
</div>


